body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ffc0cb, #35e5e7);
}

/* Contenedor general */
section {
    background: white;
    margin: 40px auto;
    padding: 40px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Header */
header {
    background: #00e6a8;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

nav {
    margin-top: 15px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Títulos */
h1 {
    margin: 0;
}

h2 {
    color: #060606;
}

/* Imágenes */
img {
    width: 250px;
    margin: 10px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

/* Lista */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

/* Botones */
button {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: #388E3C;
}

/* Formulario */
input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* WhatsApp */
.whatsapp {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.whatsapp:hover {
    background-color: #1ebe5d;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: white;
}
